/* import the font style file */
@import url(../Font/clinicSanabadFont.css);
html , select
{
    scroll-behavior: smooth;
    scrollbar-color: #28b6f6 #1f232c;
    scrollbar-width: thin;
}
html::-webkit-scrollbar , select::-webkit-scrollbar
{
    height: 8px;
}
select::-webkit-scrollbar
{
    width: 5px;
}
html::-webkit-scrollbar-thumb , select::-webkit-scrollbar-thumb
{
    background-color: #28b6f6;
    border-radius: 10px;
}
html::-webkit-scrollbar-track , select::-webkit-scrollbar-track
{
    background-color: #1f232c;
}
body
{
    font-family: 'IranSansX', IRANSansX  !important;
    margin: 0;

}
main
{
    background-color: #28b5f628;
}
.error_color
{
    color: #265cff;
}
a
{
    text-decoration: none !important;
}
/*دکمه انحصاری کلینیک سناباد*/
.btn-sanabad
{
    font-family:IRANSansX !important;
    background: #265cff !important;
    border: none !important;
    color: white !important;
    border-radius: 5px !important;
    font-weight: bold !important;
    direction: rtl;
    cursor:pointer !important;
    position: relative !important;
    z-index: 1 !important;
    overflow: hidden !important;
    padding-top: 10px !important;
}
.btn-sanabad:hover
{
    color: white;
}
.btn-sanabad::after
{
    content: "";
    background:#1F232C;
    position: absolute;
    z-index:-1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}
.btn-sanabad:hover::after
{
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}